header, .project:not(:last-child) {
  border-bottom: 1px solid #ccc;
  background-color: rgb(50, 23, 23);
  color: white;
}

header h1 a {
  color: rgb(50, 23, 23);
  background: white;
  padding: 10px;
  border-radius: 10px;
  box-shadow: #ffeeca 5px 5px;
}

header h1 {
  margin: 20px;
}

nav a {
  color: white;
}

.no-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  color: #1b89bc;
  text-decoration: none;
  font-size: 100%;
}

.no-button:hover {
  color: #065b83;
  text-decoration: underline;
}

.dollar-amount {
  color: #056605;
  font-weight: bold;
  margin-left: -5px;
}
